MONGO_URI=mongodb+srv://Visrutha:<b2Hyt4vvJblE0a8f>@cluster0.egmvhom.mongodb.net/?appName=Cluster0
JWT_SECRET=mysecretkey12345
JWT_EXPIRES_IN=7d
PORT=5000
GEMINI_API_KEY=AIzaSyCdOvdaPiTCSct6KTn---Ed9D1xKDIJWok
NODE_ENV=development